<div class="question btn-group" data-toggle="buttons" id='radio' data-id='<%= question.text %>'>
  <%= radio_button_tag(:options, options.first.opt_value) %>
  <%= label_tag(:label1, options.first.opt_value) %>
  <%= radio_button_tag(:options, options.last.opt_value) %>
  <%= label_tag(:label2, options.last.opt_value) %>
  <%= @question_hash %>
</div>
