<div class="Container">

  <div id="cat_questions" data-category='<%=  @questions.first.category_id %>'>
    <form id="questions">

      <%= form_for @questions do |question| %>
      <% @questions.each do |q| %>
          Question: <%= q.text. %>
          <%= render partial: "/users/" + q.presentation_type, locals: {options: q.options, question: q} %>
      <% end %>
  Name: <%= person_form.text_field :name %>
  Admin: <%= person_form.check_box :admin %>
<% end %>

    </form>
  </div>

</div>
