<div class="field">
  <%= p.label :answer.answer_text %><br>
  <%= p.text_field :answer.answer_text %>
</div>
<div class="field">
  <%= p.label :answer.category_id %><br>
  <%= p.text_field :answer.category_id %>
</div>
<div class="field">
  <%= p.label :answer.user_id %><br>
  <%= p.text_field :answer.user_id %>
</div>
<div class="field">
  <%= p.label :answer.question_id %><br>
  <%= p.text_field :answer.question_id %>
</div>
