<div class="field">
  <%= p.label :answer_text %><br>
  <%= p.text_field :answer_text %>
</div>
<div class="field">
  <%= p.label :category_id %><br>
  <%= p.text_field :category_id %>
</div>
<div class="field">
  <%= p.label :user_id %><br>
  <%= p.text_field :user_id %>
</div>
<div class="field">
  <%= p.label :question_id %><br>
  <%= p.text_field :question_id %>
</div>
