<section>
  <div class="container-answers">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="display-3">Adjust your Product Preferences</h1>
        </div>
      </div>
    <div class="container-small">

      <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-6 question">
              <%= form_tag('/answers/update', method: :put)  do %>
                <% @update_answer_array.each do |answer| %>
                  <%= fields_for 'answers[]', answer do |p| %>
                    <% if answer.question.presentation_type == "2-slider" %>
                        <div class="budget-slider">
                          <div class="question-text">
                            <%=answer.question.text%>
                          </div>
                          <div id="slider"></div>
                          <div class="answer-field">
                            <input type="hidden" id="slider_id" name="answers[][answer_text]" value="<%=answer.answer_text%>"/>
                          </div>
                          <div class="answer-field">
                               <%= p.hidden_field :stored_answer_id %>
                          </div>
                          <div class="answer-field">
                            <%= p.hidden_field :category_id %>
                          </div>
                          <div class="answer-field">
                            <%= p.hidden_field :user_id %>
                          </div>
                          <div class="answer-field">
                            <%= p.hidden_field :question_id %>
                          </div>
                        </div>

                    <% elsif answer.question.presentation_type == "1-reg-slider" %>
                        <div class="reg-slider">
                          <div class="slider-value">
                              <div class="question-text">
                                <%=answer.question.text%>
                              </div>
                            <div>
                            <input class="reg-slider-input" type="text" name="answers[][answer_text]"
                             data-provide="slider"
                             data-slider-ticks="[1, 2, 3,4,5]"
                             data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                             data-slider-min="1"
                             data-slider-max="5"
                             data-slider-step="1"
                             data-slider-value="<%=answer.answer_text%>"
                             data-slider-tooltip="hide"
                             data-slider-answer="<%=answer.answer_text%>"
                             />

                           </div>

                           <div class="answer-field">
                             <%= p.hidden_field :stored_answer_id %>
                           </div>
                           <div class="answer-field">
                             <%= p.hidden_field :category_id %>
                           </div>
                           <div class="answer-field">
                             <%= p.hidden_field :user_id %>
                           </div>
                           <div class="answer-field">
                             <%= p.hidden_field :question_id %>
                           </div>
                        </div>
                      </div>
                      <% elsif answer.question.presentation_type == "3-select" %>
                          <% @options = Option.where("question_id = ?", answer.question_id)%>
                          <div>
                            <div class="select">
                              <div class="question-text">
                                <%=answer.question.text%>
                              </div>
                              <select name="answers[][answer_text]">
                                <% @options.each do |o|%>
                                  <% if answer.answer_text == o.opt_value%>
                                      <option value="<%= o.opt_value %>"selected><%= o.opt_value %></option>
                                  <% elsif answer.answer_text == "none" %>
                                      <option value="none"  selected>Select your option</option>
                                  <% else %>
                                      <option value="<%= o.opt_value %>"><%= o.opt_value %></option>
                                  <% end %>
                                <% end %>
                              </select>
                            </div>
                            <div class="answer-field">
                                 <%= p.hidden_field :stored_answer_id %>
                            </div>
                            <div class="field">
                              <%= p.hidden_field :category_id %>
                            </div>
                            <div class="field">
                              <%= p.hidden_field :user_id %>
                            </div>
                            <div class="field">
                              <%= p.hidden_field :question_id %>
                            </div>
                          </div><br>

                     <% else %>
                      <span id="ex18-label-1"><%=answer.question.text%></span>
                       <div class="answer-field">
                         <%= p.hidden_field :stored_answer_id %>
                      </div>
                       <div class="field">
                          <%= p.label :answer_text %><br>
                          <%= p.text_field :answer_text %>
                        </div>
                        <div class="field">
                          <%= p.label :category_id %><br>
                          <%= p.text_field :category_id %>
                        </div>
                        <div class="field">
                          <%= p.label :user_id %><br>
                          <%= p.text_field :user_id %>
                        </div>
                        <div class="field">
                          <%= p.label :question_id %><br>
                          <%= p.text_field :question_id %>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
              </div>
              <div class="col-xs-5">
                <div class="card">
                    <div class="card-block">
                      <h4 class="card-title">Preference Key</h4>
                      <ol class="card-text">
                        <li>Very Unimportant</li>
                        <li>Unimportant</li>
                        <li>Neutral</li>
                        <li>Important</li>
                        <li>Very Important</li>
                      </ol>
                    </div>
                  </div>
                <%= submit_tag(value="Update Answers", id:"update-answers", class:"btn-primary btn-lg") %>
              </div>
              <% end %>
      </div>
    </div>
  </div>
</section>
