<section>
  <div class="container-answers ">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="display-3">Select your <%= @category.name %> Preferences</h1>
      </div>
    </div>
    <div class="container-small">
      <div class="row">
            <div class="col-sm-3 col-sm-offset-1 col-xs-offset-1 question">
              <%= form_tag "/answers" do %>
            <!-- The @answer_array consists of a new answer object for each question -->
                <% @answer_array.each do |answer| %>
        <!-- the fields_for instructs the form to put all input fields into the array answers[]. This array will have multiple
      hashes with the answer_text, category_id, user_id and question_id-->
                  <%= fields_for 'answers[]', answer do |p| %>
                    <% if answer.question.presentation_type == "2-slider" %>
                        <div class="budget-slider">
                          <div class="question-text">
                            <%=answer.question.text%>
                          </div>
                <!--the budget slider is inserted through javascript on page load -->
                          <div id="slider"></div>
                          <div class="answer-field">
                            <input type="hidden" id="slider_id" name="answers[][answer_text]"/>
                          </div>
                          <div class="answer-field">
                            <%= p.hidden_field :category_id %>
                          </div>
                          <div class="answer-field">
                            <%= p.hidden_field :user_id %>
                          </div>
                          <div class="answer-field">
                            <%= p.hidden_field :question_id %>
                          </div>
                        </div>

                    <% elsif answer.question.presentation_type == "1-reg-slider" %>
                        <div class="reg-slider">
                          <div class="slider-value">
                              <div class="question-text">
                                <%=answer.question.text%>
                              </div>
                            <div>
                            <input id="ex19" type="text" name="answers[][answer_text]"
                             data-provide="slider"
                             data-slider-ticks="[1, 2, 3,4,5]"
                             data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                             data-slider-min="1"
                             data-slider-max="5"
                             data-slider-step="1"
                             data-slider-value="3"
                             data-slider-tooltip="hide" />
                           </div>
                           <div class="answer-field">
                             <%= p.hidden_field :category_id %>
                           </div>
                           <div class="answer-field">
                             <%= p.hidden_field :user_id %>
                           </div>
                           <div class="answer-field">
                             <%= p.hidden_field :question_id %>
                           </div>
                        </div>
                      </div>
                      <% elsif answer.question.presentation_type == "3-select" %>
                          <% @options = Option.where("question_id = ?", answer.question_id) %>
                          <div class="select">
                            <div class="question-text">
                            <%=answer.question.text%>
                            </div>
                            <div class="select">
                              <select name="answers[][answer_text]">
                                <option value="none" selected>Select your option</option>
                                <% @options.each do |o|%>
                                    <option value="<%= o.opt_value %>"><%= o.opt_value %></option>
                                <% end %>
                              </select>
                            </div>
                            <div class="field">
                              <%= p.hidden_field :category_id %>
                            </div>
                            <div class="field">
                              <%= p.hidden_field :user_id %>
                            </div>
                            <div class="field">
                              <%= p.hidden_field :question_id %>
                            </div>
                          </div><br>

                     <% else %>
                      <span id="ex18-label-1"><%=answer.question.text%></span>
                       <div class="field">
                          <%= p.label :answer_text %><br>
                          <%= p.text_field :answer_text %>
                        </div>
                        <div class="field">
                          <%= p.label :category_id %><br>
                          <%= p.text_field :category_id %>
                        </div>
                        <div class="field">
                          <%= p.label :user_id %><br>
                          <%= p.text_field :user_id %>
                        </div>
                        <div class="field">
                          <%= p.label :question_id %><br>
                          <%= p.text_field :question_id %>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>

                  <%= submit_tag(value="Save Answers", id: "save-answers", class: "btn-primary btn with_margin") %>
              <% end %>
                  </div>
                  <div class="col-sm-2 col-sm-offset-1 col-xs-offset-1">
                    <div class="card">
                        <div class="card-block">
                          <h4 class="card-title">Preference Key</h4>
                          <ol class="card-text">
                            <li>Very Unimportant</li>
                            <li>Unimportant</li>
                            <li>Neutral</li>
                            <li>Important</li>
                            <li>Very Important</li>
                          </ol>
                        </div>
                    </div>
                  </div>
                  <div class="col-sm-5">
                  </div>

      </div>
    </div>
  </div>
</section>
