<section>
  <div id="product-index">
    <div class="container">
      <br><br><br><br><br>
      <h1 class="display-3">Your Top Bluetooth Speaker Matches</h1>
      <hr>
      <div>
        <score-1>Score</score-1>
        <table id="prod-table">

        <% for product in @products do %>
            <% my_path = "/categories/" + params[:cat_id] + "/users/" + params[:user_id] + "/products/" + product.id.to_s + "/1"%>
            <% buy_path = "/categories/" + params[:cat_id] + "/users/" + params[:user_id] + "/products/" + product.id.to_s + "/2" %>

              <tr class="table-borders">
<!-- first test to see if the product has a product description -->
                <% if product.block_1 == nil %>
                <!-- if it doesn't have a product description, check to see if has buying information -->
                  <% temp = Purchase.find_by product_id: product.id %>
                    <% if temp == nil %>
                    <!-- if there is no buying information, do nothing -->
                      <td><score-2><%= product.score%></score-2><br><%= link_to "Retailers", class: "btn-primary" %></td>
                    <% else %>
                    <!-- if there is buying information, go to the show page for buying information -->
                      <td><score-2><%= product.score%></score-2><br><%= link_to "Retailers", buy_path, class: "btn-primary" %></td>
                    <% end %>
                  <td class="table-space">  <img class="prod-image-list" src="<%=product.image_URL%>" alt="994080p"></td>
                  <td class="table-space"><a href=""><%= product.name %></a></td>
                  <!-- if there is a product description -->
                <% else %>
                <!-- check to see if has buying information  -->
                  <% temp = Purchase.find_by product_id: product.id %>

                  <% if temp == nil %>
                    <!-- if there is no buying information, do nothing -->
                    <td><score-2><%= product.score%></score-2><br><%= link_to "Retailers",  class: "btn-primary" %></td>
                  <% else %>
                      <!-- if there is buying information, go to the show page for buying information -->
                    <td><score-2><%= product.score%></score-2><br><%= link_to "Retailers", buy_path, class: "btn-primary" %></td>
                  <% end %>
                  <!-- link to product show page for image -->
                  <td class="table-space"><%= link_to my_path do%>
                        <%= image_tag(product.image_URL, :class => "prod-image-list") %>
                  <% end %></td>
                  <!-- link to product show page for product description -->
                  <td class="table-space"><%= link_to product.name, my_path %></td>
                <% end %>
              </tr>
          <% end %>
          </table>
        </div><br><br>
        <%= link_to "<--Change My Answers",  edit_answers_path(params[:user_id]), class: "btn-primary btn-lg"%>
    </div>
  </div>
</section>
